.about {
  align-items: center;
  background-color: rgb(181, 199, 195);
  display: flex;
  font-family: 'Bellota Text', cursive;
  height: 700px;
  justify-content: center;
  width: 100% ;
}

.div-img-article {
  display: flex;  
  justify-content: center;  
  min-width: 30%;
}

.img-article {
  height: 350px;
  width: 300px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 50%
}

.about h1, h2 {
  font-weight: bold;
  margin-left: 20px;
}

.about p {
  font-size: 20px;
  margin-left: 20px;
}
