.logoredesocial {
  width: 30px;
  padding: 10px;
}

#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #4F6D7A;
  height: 240px;
}

.logoredesocial:hover {
  transform: scale(1.1);
}