#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4F6D7A;
  color: #EAEAEA;
  padding: 10px;
  text-align: center;
  height: 100px;
}

.title-header {
  color: white;
}

#strong-header {
  color: black;
}