.principal {
  align-items: center;
  background-color: #D9D9D9;
  display: flex;
  font-family: 'Source Code Pro', monospace;
  height: 700px;
  justify-content: space-around;
}

.div-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
}

#title {
  font-size: 25px;
}

.div-image {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

#photo-devices {
  height: 400px;
  width: 600px;
}

.divredesociais {
  display: flex;
}
