.li-project {
  list-style-type: none;
}

.li-project:hover {
  color:  #3f5660;
  font-size: 17px;
}

#central-box {
display: flex;
justify-content: space-around;
align-items: center;
}

.p-projects {
  text-align: center;
  padding: 5px;
  color: rgb(54, 50, 50);
}

#projetosOficiais, #projetosExtras {
  border-radius: 5px;
  padding: 9px;
  width: 400px;
  box-shadow: 0 0 0.5em black;
  background-color: rgb(181, 199, 195);
}

.projetos {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 60%;
}