/* CSS OF INDEX */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Crimson+Text&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Crimson+Text&family=Share+Tech+Mono&family=Source+Code+Pro:wght@300&display=swap');

body {
    background-color: #D9D9D9;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}
